:root {
  --Headline: "Oswald", sans-serif;
  --Text: "Open Sans", sans-serif;
  --Subheadline: "Roboto", sans-serif;
}
.revibg {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
header {
  background-color: #012d63;
}
.sec1 {
  background-image: url("/images/bgd_2.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
input {
  margin-top: 19px;
}
.container-description {
  flex-shrink: 0;
  flex-shrink: 0;
  background-image: linear-gradient(
    125.31deg,
    violet,
    blue 60%,
    rgb(30, 191, 199)
  );
  display: flex !important; /* Align items in a single line */
  justify-content: space-around !important; /* Distribute items evenly */
}
/* .lidesc {
  flex-direction: row !important;
} */
.descripul {
  stroke-width: 5px;
  stroke: #8e32c6;
  width: 1440px;
  height: auto;
  flex-shrink: 0;
  display: flex !important;
  justify-content: center !important;
  list-style: none;
  margin-top: 105px;
  margin-bottom: 105px;
}

label :hover {
  width: 690px;
  height: 60px;
  flex-shrink: 0;
}
.reviews {
  list-style: none;
}
.john {
  width: 255px;
  height: auto;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}
.container {
  /* width: 1440px;
  height: auto; */
  flex-shrink: 0;
  justify-content: center;
  background: url("/images/background/bg_2.png") lightgray -1.001px -1.002px /
    100.209% 158.214% no-repeat;
}
.foospa {
  display: flex;
  justify-content: flex-end;
}
/* .container-description {
  border-width: 50px !important;
  border-color: #7b54b2 !important;
} */
.butt2 {
  border-radius: 16px;
  background-color: #8e32c6;
  width: 248px;
  height: 68px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* section {
  display: grid;
  grid-gap: 0;
} */
.label,
.form {
  width: 580px;
  height: 50px;
}
.descripul li {
  margin-right: 145px;
  text-align: center;
}
.descripul {
  color: transparent;
}
.container1 {
  border-color: #8e32c6;
}
input :focus :hover {
  width: 690px;
  height: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container1 {
  display: flex;
  justify-items: center;
}
.revi1 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  /* background-image: url("/images/background/nike_3.png"); */
  background-image: linear-gradient(125.31deg, blue 60%, rgb(30, 191, 199));
}
.garsia {
  width: 255px;
  height: auto;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}
.containermain {
  margin-left: 156px;
}
.tom {
  width: 255px;
  height: auto;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}
.reviews {
  display: flex;
  justify-content: center;
}
.john,
.garsia,
.tom {
  margin-left: 93px;
}
.hea1,
.span1 {
  color: #fff;
  color: azure;
  font-family: var(--Headline);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header li {
  color: transparent;
  margin: 29px;
}
footer h3 {
  display: flex;
  justify-content: flex-start;
}
footer li {
  display: flex;
  justify-content: flex-end;
}
.country1 {
  color: #959595;
  font-family: var(--Headline);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  background: #021635;
}
header ul {
  display: flex;
  justify-content: center;
}
/* .lindesc {
  display: flex;
  justify-content: center;
} */
.countdown-timer {
  background-image: url("https://wallpapers.com/images/high/nike-background-nybcmuipgeu6acps.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.countdown-timer {
  color: white;
}
section {
  display: grid;
}
.butt1 {
  border-radius: 10px;
  width: auto;
  height: 67px;
  flex-shrink: 0;
  text-align: center;
  background: #8e32c6;
  display: flex;
  justify-content: center;
  /* margin-left: 164px;
  margin-top: 608px;
  margin-bottom: 183px;
  margin-right: 1022px; */
}
/* .container1 {
  border-width: 555px;
  border-color: #8e32c6;
} */
.butt2 {
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 49px;
  padding-left: 48px;
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: auto;
}
.form {
  /* width: 690px;
  height: 60px; */
  flex-shrink: 0;
  border-radius: 50px;
  background-color: #fff;
}
.hea {
  color: #c7c7c7;
  font-family: var(--Headline);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.heaimg {
  margin-right: 152px;
  margin-left: 168px;
  width: 100px;
  height: 60px;
  flex-shrink: 0;
}
section {
  margin: 0;
}
.phome {
  color: white;
  font-family: var(--Text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order {
  display: flex;
  justify-content: center;
}
.butt1 {
  padding-left: 61px;
  padding-right: 61px;
  padding-bottom: 19px;
  padding-top: 20px;
}
.cr {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.important {
  color: #fff;
  font-family: var(--Text);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rep {
  color: #d8d8d8;
  font-family: var(--Text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rename {
  color: #fff;
  font-family: var(--Text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.redata {
  color: #d8d8d8;
  font-family: var(--Text);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.revtitle {
  color: #fff;
  text-align: center;
  font-family: var(--Subheadline);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}
.sec2 img {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  gap: 145px;
}
.imgd {
  margin-left: 145px;
}
.lidesc {
  color: #fff;
  text-align: center;
  font-family: var(--Headline);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form {
  color: #959595;
  font-family: var(--Headline);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form option {
  color: #585353;
  font-family: var(--Subheadline);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order {
  color: #fff;
  font-family: var(--Headline);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h3 {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer a {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
footer li {
  color: transparent;
}
footer p {
  color: #fff;
  font-family: var(--Text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.colorawe {
  color: #fff;
  font-family: var(--Headline);
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dreamnike {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.butt1 {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.butt2 {
  color: #fff;
  font-family: var(--Subheadline);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
